$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
$backgroundColorPrime: #51747D;
$backgroundColorLightest: #365C65;
$backgroundColorLight: #22464F;
$backgroundColorDark: #133740;
$backgroundColorDarkest: #06242B;
$largeText: 28px;
$primeText: 24px;
// http://paletton.com/#uid=13n0u0kiMg1bppgfkkvn4cXsd8G

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  text-align: right;
  padding-top: 19px;
  color: #777;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;


  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
  }
}

/* container-help */

#runewords {
  min-width: 85vw;
  max-width: 85vw;
  width: 85vw;
}

/* display */
.display-page {
  padding-bottom: 14px;
}

.display-title {
  text-align: center;

  h1 {
    font-size: 30px;
    padding: 14px 24px;
  }
}

.display-description {
  size: 21px;
  text-align: center;
}

.large-text {
  font-size: $primeText;
}
// 3222ef

body {
  // other sample backgrounds I liked:
  // background-image: url(http://www.transparenttextures.com/patterns/paper-1.png);
  // background-image: url(http://www.transparenttextures.com/patterns/iron-grip.png);
  // background-image: url(http://www.transparenttextures.com/patterns/brushed-alum.png);
  background-color: $backgroundColorPrime;
  background-image: url(http://www.transparenttextures.com/patterns/diagmonds.png);
  color: #000000;
  font-family: Papyrus;
  font-size: $primeText;
}

.runeword-table {
  background-color: $backgroundColorDarkest;
  padding-bottom: 20px;
}

.runeword-table-header {
  background-color: $backgroundColorPrime;
}

.table-striped {
  > tbody > tr:nth-of-type(odd) {
    background-color: $backgroundColorLight;
  }
}

.table-striped {
  > tbody > tr:nth-of-type(even) {
    background-color: $backgroundColorLightest;
  }
}
// Bootstrap $table-border-color;

.search {
  background-color: $backgroundColorLightest;
  border-color: $backgroundColorLight;
}

#item-type-box {
  background-color: $backgroundColorLightest;
  border-color: $backgroundColorLight;
}

.navbar {
  background-color: $backgroundColorLight;
  border-color: $backgroundColorPrime;
}

.navbar-collapse {
  background-color: $backgroundColorLightest;
}
