<div class="container">
  <div class="row marketing large-text">
    <h2>Runewords</h2>
    <p>
    Once a socketed item has been filled with the correct runes in the correct order, you get a Runeword.
    </p>

    <h2>Runes</h2>
    <p>
    Runes bestow properties onto socketed items. A rune fills these sockets and is not easily removed.
    </p>

    <h2>Properties</h2>
    <p>
    Properties add immense power to items in Diablo II. They are (almost) always beneficial and can make the difference between a good item and a great item.
    </p>

    <h2>Items</h2>
    <p>For an item to become a runeword it must have the correct amount of sockets and be the correct type of item.</p>
  </div>
</div>
