<div class="jumbotron">
<div class="container">
  <h1>Diablo II Runewords</h1>
  <p class="lead">
  <p><a class="btn btn-lg btn-success" ng-href="#/runewords">Get Started!</a></p>
</div>
</div>

<div class="container">
<div class="row marketing">
  <h4>Runewords</h4>
  <p>
  Once a socketed item has been filled with the correct runes in the correct order, you get a Runeword.
  </p>

  <h4>Runes</h4>
  <p>
  Runes bestow properties onto socketed items. A rune fills these sockets and is not easily removed.
  </p>

  <h4>Properties</h4>
  <p>
  Properties add immense power to items in Diablo II. They are (almost) always beneficial and can make the difference between a good item and a great item.
  </p>

  <h4>Items</h4>
  <p>For an item to become a runeword it must have the correct amount of sockets and be the correct type of item.</p>
</div>
</div>
